@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 3% 6%;
    --foreground: 0 0% 100%;

    --card: 180 3% 6%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 86%;

    --primary: 223 80% 43%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 14%;
    --secondary-foreground: 0 0% 79%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --scrollbar: #222222;
    --scrollbar-thumb: #333333;

    --border: 0 0% 20%;
    --input: 0 0% 13%;
    --ring: 0 0% 20%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
    box-sizing: border-box;
  }

  body {
    @apply bg-background text-foreground;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100dvh;
  }

  ::-webkit-scrollbar {
    width: 10px;
    background: var(--scrollbar);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
  }
}
